page-cinfo {

    
    DIV.preferences-style h1{
        color: #3db7ff ;
    }
    DIV.preferences-style h2{
        color: #b2b2b2 ;
    }
    DIV.preferences-style h3{
        color: #3db7ff ;
    }
    .image-info-size{
        display: block;
        margin: auto;
        width: 250px;
    }
    .width_input{
        width: 250px;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .largura{
        min-width: 150px !important;
        max-width: 150px !important;
    }

    .horizon1{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .horizon2{
        vertical-align: bottom;
    }

}
